<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Plain text document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>LineBreak</string>
	<key>CFBundleGetInfoString</key>
	<string>LineBreak v2.9, Copyright 2001-2008 Josh Aas</string>
	<key>CFBundleHelpBookFolder</key>
	<string>LineBreakHelp</string>
	<key>CFBundleHelpBookName</key>
	<string>LineBreak Help</string>
	<key>CFBundleIconFile</key>
	<string>appicon</string>
	<key>CFBundleIdentifier</key>
	<string>com.aas.LineBreak</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>LineBreak</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>LineBreak v2.9</string>
	<key>CFBundleSignature</key>
	<string>ttxt</string>
	<key>CFBundleVersion</key>
	<string>2.9</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2001-2008 Josh Aas</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
